<div class="sign-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="logo">
                    <img src="/assets//images/logo.svg"
                         alt="">
                    <span class="logo-title">velocity</span>
                </div>
                <form class="sign-form"
                      (ngSubmit)="onSubmit();">
                    <div class="title">Sign in to Velocity</div>
                    <div class="subtitle">Please enter your credentials to proceed.</div>

                    <div class="inputs-container">
                        <div class="input-wrapper">
                            <div class="input-labels">
                                <span class="placeholder">EMAIL ADDRESS</span>
                            </div>
                            <input type="email"
                                   value="dvlasenko96@gmail.com">
                        </div>
                        <div class="input-wrapper">
                            <div class="input-labels">
                                <span class="placeholder">PASSWORD</span>
                                <span>Forgot password?</span>
                            </div>
                            <input type="password"
                                   value="Sushi">
                        </div>
                        <div class="button-wrapper">
                            <button type="submit"
                                    [class.btn--loading]="isLoading"
                                    mat-button>
                                <span>Sign in</span>
                                <mat-spinner [diameter]="30"
                                             [strokeWidth]="3"></mat-spinner>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="col-md-7 col-md-offset-1"> -->
            <!-- </div> -->
        </div>
    </div>

    <div class="bg-image"></div>
</div>
