.button-wrapper {
    button {
        background: $blue;
        height: 40px;
        min-width: 200px;
        width: 100%;
        font-weight: 500;
        font-size: 15px;
        color: $white;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        border: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;


        .icon {
            font-size: 16px;
            margin-right: 5px;
        }

        &:hover {
            background: $blue-hover;
        }

        &:focus {
            outline: none;
        }

        .mat-spinner {
            display: none;
        }

        .mat-progress-spinner circle,
        .mat-spinner circle {
            stroke: $white;
        }

        &.btn--danger {
            background: $red;

            &:hover {
                background: $red-hover;
            }
        }

        &.btn--loading {
            .mat-button-wrapper {
                span {
                    display: none;
                }

                .mat-icon {
                    display: none;
                }

                .mat-spinner {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}
