.button-wrapper {
    button {
        background: $blue;
        height: 40px;
        min-width: 200px;
        width: 100%;
        font-weight: 500;
        font-size: 15px;
        color: $white;
        letter-spacing: 0;
        text-align: center;
        line-height: 21px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        .icon {
            font-size: 16px;
            margin-right: 5px;
        }

        &:hover {
            background: $blue-hover;
        }

        &:focus {
            outline: none;
        }
    }
}
