<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header-wrapper">
                    <div class="logo">
                        <img src="/assets//images/logo.svg"
                             alt="">
                        <span class="logo-title">velocity</span>
                    </div>

                    <div class="status-bar">
                        <div class="status-bar-item">
                            <img src="/assets/images/bell-icon.svg"
                                 alt="">
                        </div>
                        <div class="status-bar-item">
                            <img src="/assets/images/mail-icon.svg"
                                 alt="">
                        </div>
                        <div class="status-bar-item status-bar-item-user">
                            <img src="/assets/images/user-avatar.png"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
