@import "variables";
@import "mixins";

:host {
    header {
        height: $headerHeight;
        border-bottom: 1px solid $blueBorder;
        display: flex;
        align-items: center;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .status-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .status-bar-item {
        width: 25px;
        margin-right: 18px;
        cursor: pointer;

        img {
            width: 100%;
        }

        &-user {
            width: 40px;
            height: 40px;
            margin-right: 0;
        }
    }

    .logo {
        display: flex;
        align-items: center;

        @include mobile {
            // margin-left: 20px;
        }

        .logo-title {
            margin-left: 6px;
            font-weight: 500;
            font-size: 19px;
            color: $black;
            letter-spacing: -0.47px;
        }
    }
}
