@import "variables";
@import "mixins";

:host {
    .dashboard {
        padding-top: 62px;
        padding-bottom: 80px;
        min-height: calc(100vh - #{$headerHeight});
    }

    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mat-table {
        margin-top: 33px;
        background: none;
        box-shadow: none;

        .mat-column-status {
            text-transform: capitalize;
        }

        mat-header-row,
        mat-row {
            border-color: rgba(46, 91, 255, 0.08);
            min-height: auto;
        }

        mat-header-row {
            border: none;

            mat-header-cell {
                text-align: left;
                font-weight: 500;
                font-size: 12px;
                color: $gray;
                letter-spacing: 1.12px;
            }
        }

        mat-row {
            border-left: 1px solid rgba(46, 91, 255, 0.08);
            border-right: 1px solid rgba(46, 91, 255, 0.08);
            background: #FFFFFF;
            margin-top: 10px;
            padding: 25px 20px;

            mat-cell {
                padding: 0;
                color: $black;
                letter-spacing: 0;
                line-height: 22px;
            }
        }

        @include mobile {

            .mat-column-id,
            .mat-column-category {
                display: none;
            }
        }
    }

    table {
        margin-top: 33px;
        width: 100%;

        th {
            font-weight: 400;
            text-align: left;
            font-weight: 500;
            font-size: 12px;
            color: $gray;
            letter-spacing: 1.12px;
            // padding-left: 20px;
        }

        tbody {
            tr {
                background: #FFFFFF;
                font-size: 15px;
                color: $black;
                letter-spacing: 0;
                line-height: 22px;
                margin-top: 10px;

                td {
                    padding: 20px 25px 20px 0;
                    padding-left: 20px;
                    border: 1px solid rgba(46, 91, 255, 0.08);
                    border-right: none;
                    border-left: none;

                    &:first-child {
                        border-left: 1px solid rgba(46, 91, 255, 0.08);
                    }

                    &:last-child {
                        border-right: 1px solid rgba(46, 91, 255, 0.08);
                    }
                }
            }
        }
    }

    h1 {
        font-size: 28px;
        font-weight: 200;
        color: $black;
        letter-spacing: 0;
        margin: 0;
        line-height: 32px;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        span {
            font-size: 15px;
            color: $black3;
            letter-spacing: 0;
            line-height: 22px;
            margin-left: 10px;
        }
    }

    .link {
        font-weight: 500;
        font-size: 15px;
        color: $blue;
        letter-spacing: 0;
        text-align: center;
        line-height: 21px;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $blue;
        }

        &:visited {
            color: $blue;
        }
    }
}
