/**
 * Primary font
 */

@font-face {
    font-family: 'Rubik-Regular';
    src: url('/assets/fonts/Rubik-Regular.ttf') format('ttf');
    /* Modern Browsers */
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('/assets/fonts/Rubik-Medium.ttf') format('ttf');
    /* Modern Browsers */
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('/assets/fonts/Rubik-Bold.ttf') format('ttf');
    /* Modern Browsers */
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
