// COLORS
$white: #FFFFFF;
$black: #2E384D;
$black2: #69707F;
$black3: #8798AD;
$gray: #BFC5D2;
$gray2: #B0BAC9;
$gray3: #EEF3F5;

$green: #33AC2E;
$red: #D63649;
$yellow: #F7C137;
$teal: #00C1D4;
$purple: #8C54FF;

$blue: #2E5BFF;
$blue-hover: #1b4cff;
$blueLight: #E0E7FF;


// FONTS
$fontBase: 'Rubik',
'Helvetica Neue',
Helvetica,
'Arial',
sans-serif;
